.form-check {
  padding-left: 12px;
}

.action-column {
  a {
    margin-left: 10px;
  }
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-5 {
  margin-right: 5px;
}

// tr > th {
//   padding-bottom: 30px !important;
// }

.remove-btn {
  padding-top: 29px;
  a{
    font-size: 20px;
  }
}

.m-h-50rem {
  min-height: 50rem;
}

.float-rigt {
  float: right !important;
}