
= link_to new_user_path, class: "btn btn-primary" do
  %i.ti.ti-plus
  Add New User

%br/
%br/

.row
  .col-lg-12.d-flex.align-items-stretch
    .card.w-100
      .card-body.p-4
        %h5.card-title.fw-semibold.mb-4
          %i.ti.ti-filter
          Filter Users
        .row
          .col-md-12
            = datagrid_form_for @grid, :method => :get, :url => users_path

.row
  .col-lg-12.d-flex.align-items-stretch
    .card.w-100
      .card-body.p-4
        %h5.card-title.fw-semibold.mb-4
          %i.ti.ti-users
          All Users
        .table-responsive
          = datagrid_table @grid
        = render "partials/pagination"
