= link_to users_path, class: "btn btn-light" do
  %i.ti.ti-arrow-left
  Back to Users
%br/
%br/
.row
  .col-lg-12.d-flex.align-items-stretch
    .card.w-100
      .card-body.p-4
        %h5.card-title.fw-semibold.mb-4
          %i.ti.ti-user
          Create New User
        = render "form", user: @user