= link_to categories_path, class: "btn btn-light" do
  %i.ti.ti-arrow-left
  Back to Categories
%br/
%br/
.row
  .col-lg-12.d-flex.align-items-stretch
    .card.w-100
      .card-body.p-4
        %h5.card-title.fw-semibold.mb-4
          %i.ti.ti-category
          Create New Category
        = render "form", category: @category